.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(235, 86, 86, 0.25);
    background-color: rgb(255, 214, 187);
    border-radius: 5rem;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(235, 86, 86, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #eb5656;
    color: white;
    border-bottom-left-radius: 5rem;
  }
  
  .choice-text {
    padding: 1.5rem;
    width: 100%;
  }
  
  .correct {
    background-color: #28a745;
  }
  
  .incorrect {
    background-color: #dc3545;
  }
  
  /* HUD */
  
  #hud {
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
  }
  
  #progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #eb5656;
    margin-top: 1.5rem;
    border-radius: 1rem;
  }
  
  #progressBarFull {
    height: 3.4rem;
    background-color: #eb5656;
    width: 0%;
  }