.choice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(235, 86, 86, 0.25);
  background-color: #ffd6bb;
  border-radius: 5rem;
}

.choice-container:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.4rem 1.4rem 0 rgba(235, 86, 86, 0.5);
          box-shadow: 0 0.4rem 1.4rem 0 rgba(235, 86, 86, 0.5);
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #eb5656;
  color: white;
  border-bottom-left-radius: 5rem;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* HUD */
#hud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #eb5656;
  margin-top: 1.5rem;
  border-radius: 1rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #eb5656;
  width: 0%;
}

#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

:root {
  background-image: url(../img/baloons.jpg);
  background-position: center;
  background-size: cover;
  font-size: 62.5%;
}

body {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  background-position: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #ff5252;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: #eb5656;
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
  color: #7c7eff;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* UTILITIES */
.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* BUTTONS */
.btn {
  font-size: 1.8rem;
  border-radius: 3rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #eb5656;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #eb5656;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.4rem 1.4rem 0 rgba(235, 86, 86, 0.5);
          box-shadow: 0 0.4rem 1.4rem 0 rgba(235, 86, 86, 0.5);
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}

/* FORMS */
form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  border-radius: 5rem;
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  -webkit-box-shadow: 0 0.1rem 1.4rem 0 rgba(235, 86, 86, 0.5);
          box-shadow: 0 0.1rem 1.4rem 0 rgba(235, 86, 86, 0.5);
}

input::-webkit-input-placeholder {
  color: #aaa;
}

input:-ms-input-placeholder {
  color: #aaa;
}

input::-ms-input-placeholder {
  color: #aaa;
}

input::placeholder {
  color: #aaa;
}
/*# sourceMappingURL=main.css.map */